@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mada&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
 .container-content{
    margin-left: 10px;
 }

 .top{
  margin: 47 47 0 38;
  border: 2px solid black;
  font-size: 2.20em;
  a{
    margin-bottom: 10 px;
    text-align: right ;
  }



 }
 #top-heading{
    margin-left: 10px;
    text-decoration: underline;
}

 h2{
    margin: 47 47 0 38;
    color: #000000;
    text-align: left;
    font: 700 64px 'Inter', sans-serif;
    text-decoration: underline;
    position: relative;
    width: 962px;
    height: 77px;

 }
 img{
    margin: 47 47 0 38;
    width: 1051px;
  height: 762px;
    position: relative;
    
 }
 a {
    margin: 47 47 0 38;
text-align: left;
font: 400 40px 'Inter', sans-serif;
text-decoration: underline;
position: relative;


 }
 
.bottom{
 margin: 47 47 0 38;
    color: #000000;
text-align: left;
position: relative;
width: 1623px;
height: 469px;
font: 300 30px 'Inter', sans-serif;



}
h3{
    text-decoration: underline;
}
li{
    padding: 4px;
}